# Node.js / Vite
/node_modules
/.vite
/dist

# Environment Variables
# This is your most important security rule. It prevents secret API keys
# from ever being uploaded to GitHub.
.env
.env.*

# Optional: Log-Dateien und Systemdateien
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
